.hidden {
  display: none;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

/* 전체 페이지 스타일링 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ffffff;
}

/* Momentum 컨테이너 스타일링 */
#momentum {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* 로그인 폼 스타일링 */
.login-form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-form input[type='text'],
.login-form button {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.login-form input[type='text'] {
  width: 300px;
}

.login-form button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

/* 환영 메시지 스타일링 */
.greeting {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 48px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 시계 스타일링 */
.clock {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 90px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 할 일 목록 스타일링 */
#todo {
  position: fixed;
  bottom: 40%;
  right: 35%;
  width: 100%;
  max-width: 600px;
  max-height: 50px; /* 최대 높이 지정 */
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(248, 249, 250, 0); /* 배경을 완전히 투명하게 설정 */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#todo-form {
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between; /* 입력 필드와 버튼 사이에 간격 추가 */
}

#todo-form input[type='text'] {
  flex: 1; /* 입력 필드가 가능한 최대 너비를 차지하도록 설정 */
  padding: 12px;
  border: none;
  background-color: rgba(248, 249, 250, 0);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* 입력 필드에 약간의 그림자 효과 */
}
/* 입력 필드의 플레이스홀더 스타일 */
#todo-form input[type='text']::placeholder {
  color: white; /* 플레이스홀더 텍스트 색상을 하얀색으로 설정 */
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  font-style: italic;
  border-bottom: 3px solid white;
}

#todo-form button {
  width: 100px;
  padding: 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s; /* 배경색 변경 시 부드럽게 전환 */
}

#todo-form button:hover {
  background-color: #45a049; /* 버튼에 호버 효과 추가 */
}

#todo-list {
  list-style-type: none;
  padding: 0;
  max-height: 300px; /* 최대 높이 지정 */
  overflow-y: auto; /* 세로 스크롤이 필요한 경우 자동으로 스크롤 표시 */
}

#todo-list li {
  background-color: #ffffff00;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-style: italic;
  border-bottom: 1px solid white;
}

#todo-list li button {
  background-color: #e9dedd;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s; /* 배경색 변경 시 부드럽게 전환 */
}

#todo-list li button:hover {
  background-color: #d32f2f; /* 삭제 버튼에 호버 효과 추가 */
}

/* 날씨 정보 스타일링 */
#weather {
  position: absolute;
  top: 20%;
  right: 20px;
  text-align: right;
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#quote {
  position: absolute;
  bottom: 5%;
  max-width: 700px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
